@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Lato');

.myGroups {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.groupCon {
  background-color: #0F0E0E;
  width: 90vw;
  height: 3vh;
  padding: 5%
}

.groupText {
  color: #fff;
  margin-top: 2%;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}

.myGroups form {
  margin-top: 15px;
}

.myGroups form button {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #fff;
  padding: 2%;
  border: none;
  border-bottom: 1px solid #28231F;
  font-family: 'Josefin Sans';
  width: 55%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.myGroups input {
  width: 65%;
  margin: 2px;
  text-align: center;
  border: none;
  background-color: #0F0E0E;
  color: #fff;
  padding: 2%;
  border-radius: 5px;
}

.myGroups form label {
  display: none;
}

.groupTopCon {
  margin-top: 0px;
  width: 100vw; 
  background-size: cover; 
  background-image: url(https://images.unsplash.com/photo-1507457379470-08b800bebc67?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b69ccb54b9605ead6a49c6da0cbb007f&auto=format&fit=crop&w=2584&q=80);
  height: 15vh; 
  background-position: center;
  background-color: #777;
  background-blend-mode: multiply;
}

.myGroupText {
  color: #fff;
  padding-top: 10%;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}

.groupHeader {
  width: 90%;
  background-color: #fff;
  padding: 5%;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
  font-family: 'Lato';
  font-size: 10px;
  letter-spacing: 1px; 
  text-transform: uppercase;
}

.myGroups ul {
  list-style: none;
  padding: 2%;
  max-height: 20vh;
  overflow: auto;

}

.myGroups li {
  padding: 2%;
  font-family: 'Lato';
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 13px;
  border-bottom: 1px solid #777;
}

.gName {
  width: 70vw;
}

.buttons {
  width: 25vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons a {
  font-family: 'Josefin Sans';
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.formSection {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
}