@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.registration-form {
  margin-top: 5vh;
  text-align: center;
  height: 45vh;
}

.registration-form input {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #28231F;
  padding: 7px;
  border-radius: 2px;
  background-color: #28231F;
  color: #fff;
  font-size: 9px;
  letter-spacing: 2px;
}

.registration-form .formClass {
  display: block;
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
}

.registration-form button {
  margin-top: 10%;
  width: 80%;
  background-color: #fff;
  padding: 4%;
  border: none;
  border-bottom: 1px solid #28231F;
  font-family: 'Josefin Sans';
  box-shadow: 1px 1px 2px;
  justify-content: center;
}

.registration-form a:link {
  font-family: 'Josefin Sans';
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.linkContain {
  width: 80%;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #28231F;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  box-shadow: 1px 1px 2px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .registration-form input {
    width: 50%;
    padding: 10px;
    margin-top: 1%;
  }
  .registration-form .formClass {
    padding: .5%;
  }
  .registration-form button {
    width: 20%;
    margin: 1%;
    display: inline-flex;
    padding: 2%;
    text-align: center;
  }
  .linkContain {
    width: 20%;
    margin: 1%;
    display: inline-flex;
    padding: 2%;
  }
}

.registration-form label {
  display: none;
}

.logBar {
  width: 100vw;
  height: auto;
  color: #fff;
  position: absolute;
  top: 28vh;
  transform: translate(0,-50%);
  text-transform: uppercase;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 8px;
  letter-spacing: 2px;
  text-align: center;
}

.logWords {
  width: 100%;
  font-size: 8px;
}