@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Lato');

.findGroupsImage {
  margin-top: 0px;
  width: 100vw; 
  background-size: cover; 
  /* background-image: url(https://images.unsplash.com/photo-1498721454196-e1fe723c0374?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=235d2d01c6ccc6baee15d0bc84edde9b&auto=format&fit=crop&w=2549&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1526510096283-b0b3b6cac327?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a667caa6bc7ef94d69257b52e3baa3e3&auto=format&fit=crop&w=2550&q=80); */
  height: 100vh; 
  background-position: center;
  /* background-color: #777; */
  /* background-blend-mode: multiply; */
  background-attachment: fixed;
}

.textBg {
  background-image: url(https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2e8843e67935b873f32154438cf9664&auto=format&fit=crop&w=2550&q=80);
  background-size: cover; 
  width: 100vw;
  height: 30vh;
  background-color: #777;
  background-blend-mode: multiply;
}

.findGroupsText {
  text-align: center;
  color: #fff;
  font-family: 'Josefin Sans';
  letter-spacing: 6px;
  font-size: 18px;
  position: absolute;
  transform: translate(0,-50%);
  text-transform: uppercase;
  top: 17vh;
  position: absolute;
  width: 100%;
  background-size: cover;
}

.findGroupForm {
  width: 100vw;
  display: block;
  position: absolute;
  margin-top: 5vh;
}

.findGroupForm input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border: 1px solid #28231F;
  border-radius: 2px;
  background-color: #28231F;
  color: #fff;
  font-size: 9px;
  letter-spacing: 2px;
  margin-top: 2px;
  padding: 5px;

}

.findGroupForm button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 83.5%;
  border: 1px solid #28231F;
  border-radius: 2px;
  background-color: #28231F;
  color: #fff;
  font-size: 9px;
  letter-spacing: 2px;
  margin-top: 2px;
  padding: 5px;
}

.findGroupForm label {
  display: none;
  color: #fff;
  font-family: 'Josefin Sans';
}

.groupList {
  position: absolute;
  top: 54vh;
  width: 100%;
  padding: 0%;
  max-height: 43vh;
  overflow: auto;
}

.groupList ul {
  margin-top: 0;
  overflow-y: hidden;
  list-style: none; 
  margin-left: 0%;
  padding: 1%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.groupList li {
  width: 80%;
  background-color: #fff;
  margin-bottom: 3%;
  padding: 2%;
  min-height: 50px;
  color: #28231F;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.groupList li a:link {
  color: rgba(0,0,0,0.9);
}

.groupList img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 4%;
  background-color: #000;
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  background-image: url('http://placehold.it/50x50');
}

.groupInfo {
  left: 54px;
  position: relative;
  max-width: 75%;
  padding: 2%;
  overflow-y: hidden;
}

.groupName {
  font-family: 'Lato';
  width: 98%;
  text-align: center;
  padding: 1px;
  font-size: 10px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.groupGame {
  font-family: 'Lato';
  text-align: right;
  font-size:9px;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 3px;
}

.groupList li .groupInfo {
  position: relative;
  left: 0;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato';
  font-size: 11px;
}

.joinGroup {
  margin-top: 5px;
  padding: 3px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #28231F;
  border-radius: 5px;
}

.joinGroup a {
  color: #fff;
  text-decoration: none;
  font-family: 'Josefin Sans';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .findGroupForm input {
    width: 80%;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: .5%;
    padding: 1%;
    text-transform: uppercase;
  }
  .findGroupForm button {
    width: 82.5%;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: .5%;
    padding: 1%;
    text-transform: uppercase;
  }
  .groupList {
    position: absolute;
    top: 56vh;
    width: 100%;
    padding: 0%;
    max-height: 41vh;
    overflow: auto;
  }
  .groupName {
    padding: 1%;
    font-size: 11px;
  }
  .groupList li .groupInfo {
    font-size: 12px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .findGroupForm input {
    width: 60%;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: .5%;
    padding: .5%;
    text-transform: uppercase;
  }
  .findGroupForm button {
    width: 61.1%;
    font-size: 10px;
    letter-spacing: 2px;
    margin-top: .5%;
    padding: .5%;
    text-transform: uppercase;
  }
  .groupList {
    position: absolute;
    top: 56vh;
    width: 74%;
    left: 13%;
    padding: 0%;
    max-height: 41vh;
    overflow: auto;
    display: block;
  }
  .groupName {
    padding: 1%;
    font-size: 11px;
  }
  .groupList li .groupInfo {
    font-size: 12px;
  }
} 